{% extends 'base.html' %}
{% block content %}
    <div class="first-row">
        <img class="image" src="/static/constructionImage.jpg" alt="Paris"/>
        <div class="container">
            <form id="contact" action="/constructionEnquiry" method="GET">
                {% csrf_token %}
                <h4>Construction_Enquiry_Form</h4>
                <fieldset>
                    <input placeholder="First name" type="text" tabindex="1" required autofocus name="firstName"/>
                </fieldset>
                <fieldset>
                    <input placeholder="Last name" type="text" tabindex="2" name="lastName" required/>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Email Address" type="email" tabindex="2" name="email" required/>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" name="mobile" required/>
                </fieldset>
                <fieldset>
                    <label for="Construction_Enquiry_Service">Choose a service:</label>
                      <select name="Service" id="Construction_Enquiry_Service">
                        <option value="Base">Base</option>
                        <option value="Plaster">Plaster</option>
                        <option value="Roof">Roof</option>
                        <option value="Diversion">Diversion</option>
                      </select>
                    <!-- Base
                        Wall
                        Plaster
                        Roof
                        Diversion
                        -->
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
                        Submit
                    </button>
                </fieldset>
            </form>
        </div>
        <div class="tag-line-section">
            <h1 class="headline">GROW YOUR BUSINESS WITH PAYGASUS INDIA</h1>
        </div>
    </div>

{% endblock content %}

