{% extends 'base.html' %}
{% block content %}
<div class="first-row">
    <img class="image" src="/static/full-img.jpg" alt="Paris"/>
    <div class="tag-line-section">
        <h1 class="headline">GROW YOUR BUSINESS WITH PAYGASUS INDIA</h1>
    </div>
</div>

{% endblock content %}



<!--
 <div class="container">
        <h1>Welcome to PAYGAUSES</h1>
        <br>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-homeDesign" href="{% url 'homeDesignEnquiry' %}" style="font-size:50px">Home Design</a>
        </nav>
    </div>

-->
