{% extends 'base.html' %}
{% block content %}
<div class="first-row" xmlns="http://www.w3.org/1999/html">
        <img class="image" src="/static/homeDesign.jpg" alt="Paris"/>
        <div class="container">
            <form id="contact" action="/homeDesignEnquiry" method="GET">
                {% csrf_token %}
                <h4>Home Design Enquiry Form</h4>
                <fieldset>
                    <input placeholder="First name" type="text" tabindex="1" required autofocus name="firstName"/>
                </fieldset>
                <fieldset>
                    <input placeholder="Last name" type="text" tabindex="2" name="lastName" required/>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Email Address" type="email" tabindex="2" name="email" required/>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" name="mobile" required/>
                </fieldset>
                <fieldset>
                    <label for="Home_Enquiry_Service">Choose a service:</label>
                      <select name="Service" id="Home_Enquiry_Service">
                        <option value="Interior">Interior</option>
                        <option value="Exterior">Exterior</option>
                        <option value="Naksha">Naksha</option>
                      </select>
                    <!-- Interior
                        Exterior
                        Naksha
                        -->
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
                        Submit
                    </button>
                </fieldset>
            </form>
        </div>
        <div class="tag-line-section">
            <h1 class="headline">Har vyapari ka humsafar!</h1>
            <div class="sub-line">Trusted by 55,000+ businesses with 3500+ Crores loans sanctioned across 1300+ cities</div>
            <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" enableBackground="new 0 0 367.805 367.805" version="1.1" viewBox="0 0 367.805 367.805" xmlSpace="preserve">
                <path fill="#3BB54A" d="M183.903.001c101.566 0 183.902 82.336 183.902 183.902s-82.336 183.902-183.902 183.902S.001 285.469.001 183.903C-.288 82.625 81.579.29 182.856.001h1.047z"></path>
                <path fill="#D4E1F4" d="M285.78 133.225L155.168 263.837 82.025 191.217 111.805 161.96 155.168 204.801 256.001 103.968z"></path>
            </svg>
            <p>RBI Registered NBFC</p>
        </div>
    </div>

{% endblock content %}

