{% extends 'base.html' %}
{% block content %}
<div class="first-row">
    <img class="image" src="/static/full-img.jpg" alt="Paris"/>
    <div class="tag-line-section">
        <h1 class="headline">Har vyapari ka humsafar!</h1>
        <div class="sub-line">Trusted by 55,000+ businesses with 3500+ Crores loans sanctioned across 1300+ cities</div>
        <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" enableBackground="new 0 0 367.805 367.805" version="1.1" viewBox="0 0 367.805 367.805" xmlSpace="preserve">
            <path fill="#3BB54A" d="M183.903.001c101.566 0 183.902 82.336 183.902 183.902s-82.336 183.902-183.902 183.902S.001 285.469.001 183.903C-.288 82.625 81.579.29 182.856.001h1.047z"></path>
            <path fill="#D4E1F4" d="M285.78 133.225L155.168 263.837 82.025 191.217 111.805 161.96 155.168 204.801 256.001 103.968z"></path>
        </svg>
        <p>RBI Registered NBFC</p>
    </div>
</div>

{% endblock content %}



<!--
 <div class="container">
        <h1>Welcome to PAYGAUSES</h1>
        <br>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-homeDesign" href="{% url 'homeDesignEnquiry' %}" style="font-size:50px">Home Design</a>
        </nav>
    </div>

-->
