{% extends 'base.html' %}
{% block content %}
<div class="first-row">
    <img class="image" src="/static/99Services.jpg" alt="Paris"/>
    <div class="container">
        <form id="contact" action="/servicesAt99Enquiry" method="GET">
            {% csrf_token %}
            <h4>Services@99 Enquiry Form</h4>
            <fieldset>
                <input placeholder="First name" type="text" tabindex="1" required autofocus name="firstName"/>
            </fieldset>
            <fieldset>
                <input placeholder="Last name" type="text" tabindex="2" name="lastName" required/>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" name="email" required/>
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" name="mobile" required/>
            </fieldset>
            <fieldset>
                <label for="Service_@99_Enquiry">Choose a service:</label>
                <select name="Service" id="Service_@99_Enquiry">
                    <option value="Cloth Washing">Cloth Washing</option>
                    <option value="Electric Repair">Electric Repair</option>
                    <option value="Plumbing">Plumbing</option>
                    <option value="Delivery">Delivery</option>
                    <option value="Laundary">Laundary</option>
                    <option value="Maintenance">Maintenance</option>
                    <option value="Cleaning">Cleaning</option>
                </select>
                <!-- Cloth Washing

                Electric Repair
                Plumbing
                Delivery
                Laundary
                Maintenance
                Cleaning
                    -->
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
                    Submit
                </button>
            </fieldset>
        </form>
    </div>
    <div class="tag-line-section">
        <h1 class="headline">GROW YOUR BUSINESS WITH PAYGASUS INDIA</h1>
    </div>
</div>

{% endblock content %}

